extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	//- Bạn viết code vào đây nhớ là phải mở đầu bằng section ở mỗi khối
	section.home-slider
		.owl-carousel.owl-theme
			figure
				img.img-fluid(src="./img/bg.png", alt="")
				figcaption.col-lg-4
						.text
							h2 Lorem ipsum dolor sit lorem lore mreorer wlfjsdjf sdf s 
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, explicabo libero! Explicabo, necessitatibus eum. Aperiam dolore, eaque laudantium reiciendis consequatur.
						ul
							li
								a(href="") READ MORE
							li
								a(href="") READ MORE
			figure
				img.img-fluid(src="./img/bg.png", alt="")
				figcaption.col-lg-4
						.text
							h2 Lorem ipsum dolor sit lorem lore mreorer wlfjsdjf sdf s 
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, explicabo libero! Explicabo, necessitatibus eum. Aperiam dolore, eaque laudantium reiciendis consequatur.
						ul
							li
								a(href="") READ MORE
							li
								a(href="") READ MORE
			figure
				img.img-fluid(src="./img/bg.png", alt="")
				figcaption.col-lg-4
						.text
							h2 Lorem ipsum dolor sit lorem lore mreorer wlfjsdjf sdf s 
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, explicabo libero! Explicabo, necessitatibus eum. Aperiam dolore, eaque laudantium reiciendis consequatur.
						ul
							li
								a(href="") READ MORE
							li
								a(href="") READ MORE

	section.home-items
		h2 Bán chạy
		.item
			.container
				.row
					.col-md-6.col-lg-3
						.boximg
							.box1
								img.img-fluid(src="./img/item_01.png", alt="")
								h5 Lorem ipsum dolor sit amet consectetur, adipisicing elit
								p 300.000đ
								h6 $30
								.default-icon
									i.far.fa-heart
								.favourite-icon
									i.fas.fa-heart
					.col-md-6.col-lg-3
						.boximg
							.box2
								img.img-fluid(src="./img/item_02.png", alt="")
								h5 Lorem ipsum dolor sit amet consectetur, adipisicing elit
								p 300.000đ
								h6 $30
								.default-icon
									i.far.fa-heart
								.favourite-icon
									i.fas.fa-heart
					.col-md-6.col-lg-3
						.boximg
							.box3
								img.img-fluid(src="./img/item_03.png", alt="")
								h5 Lorem ipsum dolor sit amet consectetur, adipisicing elit
								p 300.000đ
								h6 $30
								.default-icon
									i.far.fa-heart
								.favourite-icon
									i.fas.fa-heart
					.col-md-6.col-lg-3
						.boximg
							.box4
								img.img-fluid(src="./img/item_04.png", alt="")
								h5 Lorem ipsum dolor sit amet consectetur, adipisicing elit
								p 300.000đ
								h6 $30
								.default-icon
									i.far.fa-heart
								.favourite-icon
									i.fas.fa-heart

	section.home-infomation
		.container
			.row
				.col-md
