extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	//- Bạn viết code vào đây nhớ là phải mở đầu bằng section ở mỗi khối
	//-///////////////////////////////
	//-Start Slider
	//-///////////////////////////////
	section.home-slider
		.owl-carousel.owl-theme
			-for( x = 0 ; x < 3 ; x++ )
				figure
					img.img-fluid(src="./img/bg.png", alt="")
					figcaption
						.container
							.row
								.col-md-6.offset-md-6
									.text
										h2 Lorem ipsum dolor sit amet, consectetur adipisicing.
										p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat quia eius, eum aspernatur velit explicabo tempore doloremque nam sed minus vel est nobis commodi.
									ul
										li
											a(href="") READ MORE
										li
											a(href="") READ MORE
	//-///////////////////////////////
	//-End Slider
	//-///////////////////////////////

	//-///////////////////////////////
	//-Start Products
	//-///////////////////////////////
	section.home-products
		h2 Bán chạy
		.item
			.container
				.row
					.col-md-6.col-lg-3
						.boximg
							.box1
								img.img-fluid(src="./img/item_01.png", alt="")
								h5 Lorem ipsum dolor sit amet consectetur, adipisicing elit
								p 300.000đ
								h6 $30
								.default-icon
									i.far.fa-heart
								.favourite-icon
									i.fas.fa-heart
					.col-md-6.col-lg-3
						.boximg
							.box2
								img.img-fluid(src="./img/item_02.png", alt="")
								h5 Lorem ipsum dolor sit amet consectetur, adipisicing elit
								p 300.000đ
								h6 $30
								.default-icon
									i.far.fa-heart
								.favourite-icon
									i.fas.fa-heart
					.col-md-6.col-lg-3
						.boximg
							.box3
								img.img-fluid(src="./img/item_03.png", alt="")
								h5 Lorem ipsum dolor sit amet consectetur, adipisicing elit
								p 300.000đ
								h6 $30
								.default-icon
									i.far.fa-heart
								.favourite-icon
									i.fas.fa-heart
					.col-md-6.col-lg-3
						.boximg
							.box4
								img.img-fluid(src="./img/item_04.png", alt="")
								h5 Lorem ipsum dolor sit amet consectetur, adipisicing elit
								p 300.000đ
								h6 $30
								.default-icon
									i.far.fa-heart
								.favourite-icon
									i.fas.fa-heart
	//-///////////////////////////////
	//-End Products
	//-///////////////////////////////

	//-///////////////////////////////
	//-Start Information
	//-///////////////////////////////
	section.home-infomation
		.bg
			.boximg1
				img.img-fluid(src="./img/img_02.png", alt="")
			.text
				.container
					.row
						.col-md-4.offset-md-4
							.owl-carousel.owl-theme
								-for( x = 0 ; x < 3 ; x++ )
									.container
										.row
											.col
												h2 Lorem ipsum dolor sit amet.
												p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est, omnis.
												p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est, omnis.
												p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est, omnis.
			.boximg2
				img.img-fluid(src="./img/img_01.png", alt="")
	//-///////////////////////////////
	//-End Information
	//-///////////////////////////////
	//-///////////////////////////////
	//-End Information
	//-///////////////////////////////
	section.home-client
		.container
			.row
				.client
					.col
						img.img-fluid(src="./img/ads.png", alt="")
						h2 Lorem, ipsum dolor sit amet consectetur adipisicing elit.
						p CEO - GC
						h5 Nguyen Thanh Heo
	//-///////////////////////////////
	//-End Information
	//-///////////////////////////////
