extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	//- Bạn viết code vào đây nhớ là phải mở đầu bằng section ở mỗi khối
	#logo
		img(src="./img/logo.png", alt="", srcset="")
	audio#nhac(controls="")
		source(src="./img/David Archuleta - Christmas Every Day.ogg" type="audio/ogg")
		source(src="./img/David Archuleta - Christmas Every Day.mp3" type="audio/mpeg")
	#chuc
		img(src="./img/loichuc.png", alt="", srcset="")
		h2 Jingle Bell
	#play
		i.fa.fa-play
	#pause
		i.fa.fa-pause
	#thong
		img.img-fluid(src="./img/tree.png", alt="", srcset="")
