.home-slider
	.owl-carousel
		.owl-nav
			button
				outline: none
				background: none
			.owl-prev
				i
					+lh(1rem)
					height: 3rem
					width: 3rem
					display: flex
					justify-content: center
					align-items: center
					background: rgba(0,0,0,0)
					border: 2px #e2911c solid
					+bor-rad(25px 5px 5px 5px)
					color: #e2911c
				&:hover
					background: none
					i
						border: 2px #274183 solid
						background: #274183
						color: #ffffff
						text-decoration: none
			.owl-next
				i
					+lh(1rem)
					height: 3rem
					width: 3rem
					display: flex
					justify-content: center
					align-items: center
					background: rgba(0,0,0,0)
					border: 2px #e2911c solid
					+bor-rad(5px 5px 25px 5px)
					color: #e2911c
				&:hover
					background: none
					i
						border: 2px #274183 solid
						background: #274183
						color: #ffffff
						text-decoration: none
		.owl-dots
			position: absolute
			bottom: 0%
			right: 4%
			button
				outline: none
				span
					border-radius: 6px 2px 2px 2px
				&:hover
					span
						background: #274183
				&.active
					span
						background: #274183
		figure
			margin: 0
			position: relative
			figcaption
				margin-bottom: 2rem
				.text
					padding-bottom: 1rem
					h2
						+fz(32px)
						+fw(bold)
						color: #274183
					p
						+fz(18px)
						color: grey
				ul
					display: flex
					justify-content: center
					align-items: center
					flex-direction: row
					list-style-type: none
					padding: 0
					margin: 0
					li
						padding-left: 1rem
						a
							padding: 1rem 1rem
							border: 2px #e2911c solid
							+bor-rad( 25px 5px 5px 5px)
							color: #274183
							+fw(bold)
							&:hover
								border: 2px #274183 solid
								background: #274183
								color: #ffffff
								text-decoration: none
			+media-breakpoint-up(md)
				figcaption
					margin: 0
					.text
						margin-left: 2rem
						h2
							+fz(26px)
							position: relative
							padding-bottom: .5rem
							&:before
								display: inline-block
								content: ""
								height: 2px
								width: 2.5rem
								position: absolute
								bottom: 0%
								right: 0%
								background: #e2911c
						p
							+fz(14px)
					display: flex
					text-align: right
					position: absolute
					top: 50%
					right: 3%
					transform: translateY(-50%)
					ul
						display: flex
						justify-content: flex-end
			+media-breakpoint-up(lg)
				figcaption
					.text
						margin-left: 5rem
						h2
							+fz(32px)
						p
							+fz(18px)
					ul
						li
							a
								padding: 1rem 3rem

.home-products
	padding: 0 1rem 3rem 1rem
	margin-bottom: 1rem
	h2
		position: relative
		margin: 0
		padding: 4rem 0 .5rem 0
		text-align: center
		color: #274183
		text-transform: uppercase
		+fw(bold)
		&:before
			content: ""
			height: 3px
			width: 2.5rem
			background: #e2911c
			display: flex
			position: absolute
			bottom: 0%
			right: 50%
			transform: translateX(50%)
	.item
		display: flex
		flex-direction: column
		padding: 2rem
		.boximg
			position: relative
			text-align: center
			+bor-rad(7px 25px 7px 7px)
			padding: 0 1rem
			margin-bottom: 2rem
			transition: .1s all ease-in-out
			&:hover
				box-shadow: 0 0 13px 0px #80808047
				transition: .1s all ease-in-out
				z-index: 1
				i
					color: $pomegranate
				h5
					color: #274183
					&:before
						background: #e2911c
				h6
					color: #e2911c
			h5
				color: #9ca5b4
				+fw(bold)
				position: relative
				margin: 0
				padding-bottom: 1rem
				text-align: left
				&:before
					content: ""
					height: 3px
					width: 2.5rem
					background: #e1e5f0
					display: flex
					position: absolute
					bottom: 0%
					left: 0%
			p
				text-align: left
				padding: 1rem 0
				margin: 0
				+fz(16px)
				color: #00000036
				text-decoration: line-through
			h6
				+fz(18px)
				position: absolute
				bottom: 2%
				right: 5%
				color: #000000
			i
				+fz(22px)
				position: absolute
				top: 4%
				right: 7%
				color: #00000036
				opacity: 1
				transition: .1s all ease-in-out
		+media-breakpoint-up(md)
			display: flex

.home-infomation
	margin-top: 3rem
	.bg
		position: relative
		background: #f6f6f6
		.owl-carousel
			padding: 2rem 0
			.owl-nav
				position: relative
				button
					outline: none
				.owl-prev
					i
						+lh(2rem)
						height: 3rem
						width: 3rem
						display: flex
						justify-content: center
						align-items: center
						background: rgba(0,0,0,0)
						border: 2px #e2911c solid
						+bor-rad(25px 5px 5px 5px)
						color: #e2911c
					&:hover
						background: none
						i
							border: 2px #274183 solid
							background: #274183
							color: #ffffff
							text-decoration: none
				.owl-next
					i
						+lh(2rem)
						height: 3rem
						width: 3rem
						display: flex
						justify-content: center
						align-items: center
						background: rgba(0,0,0,0)
						border: 2px #e2911c solid
						+bor-rad(5px 5px 25px 5px)
						color: #e2911c
					&:hover
						background: none
						i
							border: 2px #274183 solid
							background: #274183
							color: #ffffff
							text-decoration: none
			h2
				+fz(32px)
				+fw(bold)
				color: #274183
			p
				+fz(18px)
				color: grey
		.boximg1
			filter: grayscale(100%)
		.boximg2
			filter: grayscale(100%)

	+media-breakpoint-up(md)
		.bg
			background: #f6f6f6
			margin-left: 10rem
			border-top-left-radius: 50px
			height: 500px
			position: relative
			.text
				z-index: 1
				position: absolute
				width: 100%
				top: calc( 50% + 1rem )
				left: calc( 50% - 5rem)
				transform: translate( -50%, -50%)
				padding: 0
				.owl-carousel
					padding: 0
					.owl-nav
						position: absolute
						bottom: calc( 0% + 2rem )
						right: -145%
						transform: translate( -50%, -50%)
						i
							height: 3rem
							width: 3rem
					h2
						+fz(26px)
						position: relative
						padding-bottom: .5rem
						&:before
							display: inline-block
							content: ""
							height: 2px
							width: 2.5rem
							position: absolute
							bottom: 0%
							left: 0%
							background: #e2911c
					p
						+fz(16px)
			.boximg1
				filter: grayscale(100%)
				position: absolute
				bottom: calc( 0% - 3rem )
				left: calc( 0% - 8rem )
				
				img
					width: 42%
					+bor-rad(7px 50px 7px 7px)
			.boximg2
				filter: grayscale(100%)
				position: absolute
				top: calc( 0% - 3rem )
				right: 0%
				text-align: right
				img
					width: 44%
					+bor-rad(7px 7px 7px 50px)
	+media-breakpoint-up(lg)
		.bg
			height: 550px
			position: relative
			.text
				z-index: 1
				position: absolute
				width: 100%
				top: calc( 50% - 2rem)
				left: calc( 50% - 5rem)
				transform: translate( -50%, -50%)
				.owl-carousel
					.owl-nav
						position: absolute
						bottom: calc( 0% - 9rem )
						left: 22%
						transform: translate( -50%, -50%)
						i
							height: 3rem
							width: 3rem
					h2
						+fz(32px)
					p
						+fz(18px)
			.boximg1
				margin-left: 3rem
				width: 100%
				position: absolute
				top: calc( 0% + 12rem )
				right: calc( 0% - 8rem )
				img
					width: 30%
			.boximg2
				width: 100%
				position: absolute
				top: calc( 0% - 4rem )
				right: 0%
				img
					width: 32%
	+media-breakpoint-up(xl)
		.bg
			height: 650px
			position: relative
			.text
				z-index: 1
				position: absolute
				width: 100%
				top: calc( 50% - 2rem)
				left: calc( 50% - 5rem)
				transform: translate( -50%, -50%)
				.owl-carousel
					.owl-nav
						position: absolute
						bottom: calc( 0% - 10rem )
						left: 18%
						transform: translate( -50%, -50%)
						i
							height: 3rem
							width: 3rem
					h2
						+fz(32px)
					p
						+fz(18px)
			.boximg1
				margin-left: 2rem
				width: 100%
				position: absolute
				top: calc( 0% + 5rem )
				right: calc( 0% - 8rem )
				img
					width: 29%
			.boximg2
				width: 100%
				position: absolute
				top: calc( 0% - 5rem )
				right: 0%
				img
					width: 31%

.home-client
	padding: 6rem 1rem
	position: relative
	.owl-carousel
		.owl-nav
			display: block
			position: relative
			button
				outline: none
			.owl-prev
				i
					+lh(2rem)
					height: 3rem
					width: 3rem
					display: flex
					justify-content: center
					align-items: center
					background: rgba(0,0,0,0)
					border: 2px #e2911c solid
					+bor-rad(25px 5px 5px 5px)
					color: #e2911c
				&:hover
					background: none
					i
						border: 2px #274183 solid
						background: #274183
						color: #ffffff
						text-decoration: none
			.owl-next
				i
					+lh(2rem)
					height: 3rem
					width: 3rem
					display: flex
					justify-content: center
					align-items: center
					background: rgba(0,0,0,0)
					border: 2px #e2911c solid
					+bor-rad(5px 5px 25px 5px)
					color: #e2911c
				&:hover
					background: none
					i
						border: 2px #274183 solid
						background: #274183
						color: #ffffff
						text-decoration: none
			+media-breakpoint-up(md)
				z-index: -1
				position: absolute
				top: 0
				left: 0
				margin: 0
				width: 100%
				height: 100%
				.owl-next
					position: absolute
					top: 50%
					right: -7%
					transform: translate(-50%, -50%)
				.owl-prev
					position: absolute
					top: 50%
					left: -3%
					transform: translate(-50%, -50%)
		.client
			display: flex
			border: 1px solid rgba(0,0,0,0)
			+bor-rad(50px 10px 10px 10px)
			overflow: hidden
			height: 100%
			.box-img
				background: url('../img/ads.png')
				background-size: cover
				width: 100%
				height: 100%
			.text
				text-align: right
				padding: 1rem
				background: #dfe6f0
				h2
					font-size: 16px
					+fw(bold)
					color: #274183
					position: relative
					padding-bottom: .5rem
					&:before
						content: ""
						width: 2.5rem
						height: 3px
						position: absolute
						bottom: 0%
						right: 0%
						background: #e2911c
				p
					font-size: 16px
					margin-bottom: 0
					+fw(bold)
				h6
					margin-bottom: 0
					color: gray
					padding-top: .5rem
	+media-breakpoint-up(lg)
		padding: 6rem 4rem
		.item
			margin-left: 0
			.client
				width: 430px
				height: 150px
				.box-img
					width: 210px
	+media-breakpoint-up(xl)
		padding-top: 10rem
		.item
			margin-left: 5rem
			.client
				width: 455px
				height: 180px
				.text
					h2
						+fz(24px)
				.box-img
					width: 350px
