//- <!-- ////////////// FOOTER ////////////// -->
footer
	.container
		.row
			.col-md-4
				figure
					img.img-fluid(src="../img/logo.png", alt="")
				figcaption
					h2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quibusdam enim. Sequi, voluptate
					p Lorem ipsum dolor sit amet consectetur adipisicing elit.
					ul.list-unstyled.list-inline
						li.list-inline-item
							i.fab.fa-twitter
						li.list-inline-item
							i.fab.fa-google
						li.list-inline-item
							i.fab.fa-github-alt
			.col-md-8
				.text
					.row
						.col-md-4
							h2 FULLSTACK VIETNAM
							ul.list-unstyled
								li
									a(href="") Cool stuff
								li
									a(href="") Random feature
								li
									a(href="") Tea feature
								li
									a(href="") Stuff of develoers
								li
									a(href="") another one
								li
									a(href="") last time
						.col-md-4
							h2 FULLSTACK VIETNAM
							ul.list-unstyled
								li
									a(href="") Cool stuff
								li
									a(href="") Random feature
								li
									a(href="") Tea feature
								li
									a(href="") Stuff of develoers
								li
									a(href="") another one
								li
									a(href="") last time
						.col-md-4
							h2 FULLSTACK VIETNAM
							ul.list-unstyled
								li
									a(href="") Cool stuff
								li
									a(href="") Random feature
								li
									a(href="") Tea feature
								li
									a(href="") Stuff of develoers
								li
									a(href="") another one
								li
									a(href="") last time
