.header
	nav.navbar
		.container-fluid
			img.img-fluid.navbar-brand(src="./img/logo.png", alt="")
			button.navbar-toggler.hidden-lg-up.pull-right(type="button" data-toggle="collapse" data-target="#collapsingNavbar1")
				i.fas.fa-bars
			#collapsingNavbar1.collapse.navbar-toggleable-md
				ul.nav.navbar-nav
					li.nav-item
						a.nav-link(href="#") Link
					li.nav-item
						a.nav-link(href="#") Link
					li.nav-item
						a.nav-link(href="#") About

	
	ul.list-unstyled.list-inline.m-0
		li.list-inline-item.mr-0 HOME
		li.list-inline-item.mr-0 ABOUT
		li.list-inline-item.mr-0 CONTACT
		li.list-inline-item.mr-0 SHOP
		li.list-inline-item.mr-0 MY ACCOUNT
		li.list-inline-item.mr-0
			i.fas.fa-search
		li.list-inline-item.mr-0
			i.fas.fa-shopping-bag
